# ES19
## Noemi Baruffolo 5^AROB
### auto con pandas

In [82]:
import pandas as pd

In [83]:
data = pd.read_csv("csv/Fuel_Consumption_2000-2022.csv")
data.head()

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 KM),COMB (L/100 KM),COMB (MPG),EMISSIONS
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,9.2,6.7,8.1,35,186
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,8.5,6.5,7.6,37,175
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,10.0,7.0,8.6,33,198

In [84]:
type(data)

pandas.core.frame.DataFrame

In [85]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22556 entries, 0 to 22555
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              22556 non-null  int64
 1   MAKE              22556 non-null  object
 2   MODEL             22556 non-null  object
 3   VEHICLE CLASS     22556 non-null  object
 4   ENGINE SIZE       22556 non-null  float64
 5   CYLINDERS         22556 non-null  int64
 6   TRANSMISSION      22556 non-null  object
 7   FUEL              22556 non-null  object
 8   FUEL CONSUMPTION  22556 non-null  float64
 9   HWY (L/100 KM)    22556 non-null  float64
 10  COMB (L/100 KM)   22556 non-null  float64
 11  COMB (MPG)        22556 non-null  int64
 12  EMISSIONS         22556 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 2.2+ MB

In [86]:
data["MAKE"]

0        ACURA
1        ACURA
2        ACURA
3        ACURA
4        ACURA
         ...
22551    VOLVO
22552    VOLVO
22553    VOLVO
22554    VOLVO
22555    VOLVO
Name: MAKE, Length: 22556, dtype: object

In [87]:
type(data["MAKE"])

pandas.core.series.Series

In [88]:
data[["MAKE", "CYLINDERS"]]

        MAKE  CYLINDERS
0      ACURA          4
1      ACURA          4
2      ACURA          6
3      ACURA          6
4      ACURA          4
...      ...        ...
22551  VOLVO          4
22552  VOLVO          4
22553  VOLVO          4
22554  VOLVO          4
22555  VOLVO          4

[22556 rows x 2 columns]

In [89]:
#selezionare una riga
data.iloc[0:5] #slicing

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 KM),COMB (L/100 KM),COMB (MPG),EMISSIONS
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,9.2,6.7,8.1,35,186
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,8.5,6.5,7.6,37,175
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,10.0,7.0,8.6,33,198

In [90]:
data["MAKE"].value_counts()

MAKE
CHEVROLET        2130
FORD             1724
BMW              1490
GMC              1357
MERCEDES-BENZ    1276
TOYOTA           1001
PORSCHE           988
DODGE             925
AUDI              805
NISSAN            764
VOLKSWAGEN        701
MAZDA             602
HYUNDAI           561
HONDA             561
JEEP              544
KIA               532
SUBARU            520
VOLVO             515
LEXUS             460
CADILLAC          434
CHRYSLER          425
MINI              406
JAGUAR            364
MITSUBISHI        322
INFINITI          280
BUICK             273
PONTIAC           253
ACURA             247
LINCOLN           225
SUZUKI            199
SAAB              190
LAND ROVER        174
SATURN            156
RAM               153
MASERATI          125
BENTLEY           118
LAMBORGHINI       111
ASTON MARTIN      106
ROLLS-ROYCE       106
FIAT               85
FERRARI            73
SCION              44
ALFA ROMEO         42
GENESIS            42
OLDSMOBILE         34
DAEWOO             34
SMART              22
HUMMER             21
ISUZU              18
BUGATTI            12
SRT                 4
PLYMOUTH            2
Name: count, dtype: int64

In [91]:
#selezionare tutte le auto di marca BMW
data[ data["MAKE"]== "BMW" ]

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 KM),COMB (L/100 KM),COMB (MPG),EMISSIONS
31,2000,BMW,323 CONVERTIBLE,COMPACT,2.5,6,A5,Z,13.0,8.9,11.2,25,258
32,2000,BMW,323 CONVERTIBLE,COMPACT,2.5,6,M5,Z,12.4,8.6,10.7,26,246
33,2000,BMW,323CI,COMPACT,2.5,6,A5,Z,12.3,7.8,10.3,27,237
34,2000,BMW,323CI,COMPACT,2.5,6,M5,Z,11.5,7.5,9.7,29,223
35,2000,BMW,323I,COMPACT,2.5,6,A5,Z,12.3,7.8,10.3,27,237
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21727,2022,BMW,X6 M50I,SUV: STANDARD,4.4,8,AS8,Z,14.4,10.6,12.7,22,302
21728,2022,BMW,X7 XDRIVE40I,SUV: STANDARD,3.0,6,AS8,Z,12.1,9.8,11.1,25,256
21729,2022,BMW,X7 M50I,SUV: STANDARD,4.4,8,AS8,Z,15.7,11.5,13.8,20,321
21730,2022,BMW,Z4 SDRIVE30I,TWO-SEATER,2.0,4,AS8,Z,9.4,7.4,8.5,33,199
21731,2022,BMW,Z4 M40I,TWO-SEATER,3.0,6,AS8,Z,10.8,8.1,9.6,29,223

In [92]:
#selezionare tutte le auto di marca BMW che hanno 10 cilindri
data[ (data["MAKE"]== "BMW") & (data["CYLINDERS"] == 10)]

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL CONSUMPTION,HWY (L/100 KM),COMB (L/100 KM),COMB (MPG),EMISSIONS
4884,2006,BMW,M5,MID-SIZE,5.0,10,AM7,Z,18.1,11.0,14.9,19,343
5861,2007,BMW,M5,MID-SIZE,5.0,10,AM7,Z,18.4,11.0,15.1,19,347
5862,2007,BMW,M5,MID-SIZE,5.0,10,M6,Z,19.9,11.9,16.3,17,375
5863,2007,BMW,M6 CABRIOLET,SUBCOMPACT,5.0,10,AM7,Z,18.0,10.8,14.8,19,339
5864,2007,BMW,M6 CABRIOLET,SUBCOMPACT,5.0,10,M6,Z,20.3,11.7,16.4,17,377
5865,2007,BMW,M6 COUPE,SUBCOMPACT,5.0,10,AM7,Z,18.4,11.0,15.1,19,347
5866,2007,BMW,M6 COUPE,SUBCOMPACT,5.0,10,M6,Z,19.9,11.9,16.3,17,375
6928,2008,BMW,M5,MID-SIZE,5.0,10,AM7,Z,18.4,11.0,15.1,19,347
6929,2008,BMW,M5,MID-SIZE,5.0,10,M6,Z,19.9,11.9,16.3,17,375
6930,2008,BMW,M6,SUBCOMPACT,5.0,10,AM7,Z,18.4,11.0,15.1,19,347
6931,2008,BMW,M6,SUBCOMPACT,5.0,10,M6,Z,19.9,11.9,16.3,17,375
6932,2008,BMW,M6 CABRIOLET,SUBCOMPACT,5.0,10,AM7,Z,18.0,10.8,14.8,19,340
6933,2008,BMW,M6 CABRIOLET,SUBCOMPACT,5.0,10,M6,Z,20.3,11.7,16.4,17,377
7997,2009,BMW,M5 SEDAN,MID-SIZE,5.0,10,AM7,Z,18.1,11.0,15.0,19,345
7998,2009,BMW,M5 SEDAN,MID-SIZE,5.0,10,M6,Z,19.8,11.8,16.3,17,375
7999,2009,BMW,M6 CABRIOLET,SUBCOMPACT,5.0,10,AM7,Z,18.0,10.8,14.8,19,340
8000,2009,BMW,M6 CABRIOLET,SUBCOMPACT,5.0,10,M6,Z,20.3,11.7,16.4,17,377
8001,2009,BMW,M6 COUPE,SUBCOMPACT,5.0,10,AM7,Z,18.1,11.0,14.9,19,343
8002,2009,BMW,M6 COUPE,SUBCOMPACT,5.0,10,M6,Z,19.8,11.8,16.2,17,373
9093,2010,BMW,M5,MID-SIZE,5.0,10,AM7,Z,17.9,11.0,14.8,19,340
9094,2010,BMW,M5,MID-SIZE,5.0,10,M6,Z,19.9,11.8,16.2,17,373
9095,2010,BMW,M6 CABRIOLET,SUBCOMPACT,5.0,10,AM7,Z,18.0,10.8,14.8,19,340
9096,2010,BMW,M6 CABRIOLET,SUBCOMPACT,5.0,10,M6,Z,20.3,11.7,16.4,17,377
9097,2010,BMW,M6 COUPE,SUBCOMPACT,5.0,10,AM7,Z,17.9,11.0,14.8,19,340
9098,2010,BMW,M6 COUPE,SUBCOMPACT,5.0,10,M6,Z,19.9,11.8,16.2,17,373

In [93]:
#selezionare tra tutte le auto di marca BMW quante sono per cilindri
data[data["MAKE"]== "BMW"]["CYLINDERS"].value_counts()

CYLINDERS
6     883
8     369
4     191
10     25
12     22
Name: count, dtype: int64

In [94]:
#x o z benzina in base agli ottani, d diesel
data[["FUEL", "EMISSIONS"]].groupby("FUEL").mean()

       EMISSIONS
FUEL
D     230.305732
E     270.578898
N     312.848485
X     240.280748
Z     260.574818

In [95]:
# per una marca conteggio le diverse tipologie di veicolo per quella macchina
data[data["MAKE"]== "BMW"]["VEHICLE CLASS"].value_counts()

VEHICLE CLASS
SUBCOMPACT                  428
COMPACT                     368
MID-SIZE                    151
FULL-SIZE                   116
SUV                          85
TWO-SEATER                   83
STATION WAGON - SMALL        52
SUV: STANDARD                48
SUV: SMALL                   46
MINICOMPACT                  39
SUV - STANDARD               33
SUV - SMALL                  28
STATION WAGON - MID-SIZE     10
STATION WAGON: SMALL          3
Name: count, dtype: int64

In [96]:
# in media, a parità di numeri di cilindri, consuma di più in media una BMW a 4 cilindri o un'AUDI a 4 cilindri?
audiBmw = (data["MAKE"] == "BMW") | (data["MAKE"]== "AUDI")
cilindri4 = data["CYLINDERS"] == 4
data[audiBmw & cilindri4][["MAKE", "EMISSIONS"]].groupby("MAKE").mean()

       EMISSIONS
MAKE
AUDI  209.636076
BMW   202.361257

In [97]:
data[audiBmw][["MAKE", "CYLINDERS", "EMISSIONS"]].groupby(["MAKE", "CYLINDERS"]).mean() #media auto consumi per cilindri

                 EMISSIONS
MAKE CYLINDERS
AUDI 4          209.636076
     5          241.666667
     6          249.483271
     8          292.469136
     10         337.682927
     12         319.750000
BMW  4          202.361257
     6          237.628539
     8          295.701897
     10         358.400000
     12         323.590909

In [98]:
data[audiBmw][["MAKE", "CYLINDERS", "EMISSIONS"]].groupby(["MAKE", "CYLINDERS"]).count() #quante auto per cilindri

                EMISSIONS
MAKE CYLINDERS
AUDI 4                316
     5                  9
     6                269
     8                162
     10                41
     12                 8
BMW  4                191
     6                883
     8                369
     10                25
     12                22

In [99]:
data[audiBmw][["MAKE", "CYLINDERS", "EMISSIONS"]].groupby(["MAKE", "CYLINDERS"]).min() #emissioni minime

                EMISSIONS
MAKE CYLINDERS
AUDI 4                172
     5                232
     6                213
     8                235
     10               299
     12               299
BMW  4                151
     6                161
     8                242
     10               339
     12               299

In [100]:
data[audiBmw][["MAKE", "CYLINDERS", "EMISSIONS"]].groupby(["MAKE", "CYLINDERS"]).max() #emissioni massime

                EMISSIONS
MAKE CYLINDERS
AUDI 4                264
     5                248
     6                306
     8                382
     10               377
     12               344
BMW  4                240
     6                339
     8                364
     10               377
     12               356

In [101]:
# trovare il consumo medio per marca considerando tutte le auto
mediaConsumi = data[["MAKE", "EMISSIONS"]].groupby("MAKE").mean()

In [102]:
mediaConsumi.values

array([[219.59919028],
       [228.11904762],
       [332.18867925],
       [247.59503106],
       [375.65254237],
       [250.7852349 ],
       [538.25      ],
       [232.04761905],
       [264.31336406],
       [269.99953052],
       [236.10823529],
       [204.        ],
       [283.11567568],
       [411.        ],
       [184.36470588],
       [260.67227378],
       [275.92857143],
       [301.87472366],
       [191.47593583],
       [317.95238095],
       [204.22638146],
       [251.91071429],
       [299.22222222],
       [261.06318681],
       [254.47977941],
       [207.94736842],
       [404.56756757],
       [301.32758621],
       [236.8173913 ],
       [261.69333333],
       [327.752     ],
       [212.17109635],
       [273.27037618],
       [180.44581281],
       [213.36645963],
       [234.82853403],
       [235.08823529],
       [272.5       ],
       [214.40711462],
       [256.07388664],
       [286.45751634],
       [372.52830189],
       [234.52105263],
       [210.06410256],
       [179.84090909],
       [128.59090909],
       [345.        ],
       [217.83076923],
       [204.59296482],
       [219.75824176],
       [207.5235378 ],
       [230.14368932]])

In [103]:
mediaConsumi.to_numpy

<bound method DataFrame.to_numpy of                 EMISSIONS
MAKE
ACURA          219.599190
ALFA ROMEO     228.119048
ASTON MARTIN   332.188679
AUDI           247.595031
BENTLEY        375.652542
BMW            250.785235
BUGATTI        538.250000
BUICK          232.047619
CADILLAC       264.313364
CHEVROLET      269.999531
CHRYSLER       236.108235
DAEWOO         204.000000
DODGE          283.115676
FERRARI        411.000000
FIAT           184.364706
FORD           260.672274
GENESIS        275.928571
GMC            301.874724
HONDA          191.475936
HUMMER         317.952381
HYUNDAI        204.226381
INFINITI       251.910714
ISUZU          299.222222
JAGUAR         261.063187
JEEP           254.479779
KIA            207.947368
LAMBORGHINI    404.567568
LAND ROVER     301.327586
LEXUS          236.817391
LINCOLN        261.693333
MASERATI       327.752000
MAZDA          212.171096
MERCEDES-BENZ  273.270376
MINI           180.445813
MITSUBISHI     213.366460
NISSAN         234.828534
OLDSMOBILE     235.088235
PLYMOUTH       272.500000
PONTIAC        214.407115
PORSCHE        256.073887
RAM            286.457516
ROLLS-ROYCE    372.528302
SAAB           234.521053
SATURN         210.064103
SCION          179.840909
SMART          128.590909
SRT            345.000000
SUBARU         217.830769
SUZUKI         204.592965
TOYOTA         219.758242
VOLKSWAGEN     207.523538
VOLVO          230.143689>

In [104]:
mediaConsumi.to_clipboard() #per copiare i dati, tipo ctrl+v

In [105]:
mediaConsumi.to_sql #fa le insert in automatico, si connette al db

<bound method NDFrame.to_sql of                 EMISSIONS
MAKE
ACURA          219.599190
ALFA ROMEO     228.119048
ASTON MARTIN   332.188679
AUDI           247.595031
BENTLEY        375.652542
BMW            250.785235
BUGATTI        538.250000
BUICK          232.047619
CADILLAC       264.313364
CHEVROLET      269.999531
CHRYSLER       236.108235
DAEWOO         204.000000
DODGE          283.115676
FERRARI        411.000000
FIAT           184.364706
FORD           260.672274
GENESIS        275.928571
GMC            301.874724
HONDA          191.475936
HUMMER         317.952381
HYUNDAI        204.226381
INFINITI       251.910714
ISUZU          299.222222
JAGUAR         261.063187
JEEP           254.479779
KIA            207.947368
LAMBORGHINI    404.567568
LAND ROVER     301.327586
LEXUS          236.817391
LINCOLN        261.693333
MASERATI       327.752000
MAZDA          212.171096
MERCEDES-BENZ  273.270376
MINI           180.445813
MITSUBISHI     213.366460
NISSAN         234.828534
OLDSMOBILE     235.088235
PLYMOUTH       272.500000
PONTIAC        214.407115
PORSCHE        256.073887
RAM            286.457516
ROLLS-ROYCE    372.528302
SAAB           234.521053
SATURN         210.064103
SCION          179.840909
SMART          128.590909
SRT            345.000000
SUBARU         217.830769
SUZUKI         204.592965
TOYOTA         219.758242
VOLKSWAGEN     207.523538
VOLVO          230.143689>